h1{
    text-align: center;
}
.rojo{
    /*background-color: firebrick;*/
    border: 10px solid firebrick
}
.rosa{
    border: 10px dashed hotpink;
}
.amarillo{
    border: 10px double gold;
}
.azul{
    border: 10px dotted blue;
}