#titulo{ /*Selectores ID se aplican solo a un elemento osea es unico en la pagina*/ 
    color: crimson;
    text-align: center;
}
.centrar{ /*Clase, se puede aplicar a varios elementos*/
    text-align: center;
}
.texto_grande{
    font-size: 20px;
}